.Header 
{
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.Header nav ul 
{
    list-style: none;
    padding: 0;
}
  
.Header nav ul li 
{
    display: inline;
    margin-right: 20px;
}
  
.Header nav ul li a
{
    text-decoration: none;
    color: #fff;
}