.Projects 
{
    text-align: left;
    padding: 20px;
}
  
.Projects h1 
{
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}
  
.Projects h2 
{
    font-size: 1.8rem;
    color: #0077B5;
    margin-top: 20px;
}
  
.Projects p 
{
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
}