.Skills 
{
    text-align: left;
    padding: 20px;
}
  
.Skills h2 
{
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}
  
.Skills ul 
{
    list-style: none;
    padding: 0;
}
  
.Skills li 
{
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
}